extends ./index.jade
    
block title 
  title Poll Easy | Login
block body_block
  .jumbotron.container
      h2.text-center Login
      br
      .container
          // LOGIN FORM
          if message.length > 0
            h3.text-danger #{message}
          form#user_form.form-signin.col-md-8(method='post', action='/login')
            .form-group.label-floating.is-empty
              label.control-label(for='id_username') Username
              input#id_username.form-control(maxlength='30', name='username', type='text')
              span.help-block Please enter your username
              span.material-input
              span.material-input
            .form-group.label-floating
              label.control-label(for='id_password') Password
              input#id_password.form-control(maxlength='128', name='password', type='password')
              span.help-block Please enter a password
              span.material-input
              span.material-input
            button.btn.btn-raised.btn-primary.btn-lg(type='submit') Log in
        hr
      div
          p
            | Need an account? 
            a(href='/signup') Sign up
          p
            | Or go 
            a(href='/') home